.container {
  margin-top: 40px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tabBtn {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.tabBtn:focus {
  outline: none;
}
.icon {
  stroke: #686868;
}
.iconBtns {
  display: flex;
  gap: 8px;
}
.active {
  stroke: #f9f9f9;
}
