.library {    
    padding: 40px;
    width: 847px;
    height: 651px;
    border-radius: 30px;
    background-color: #1f1f1f;
}
/* .logo {
    fill: rgb(127, 231, 231);
    stroke: rgb(233, 159, 69);
} */
.bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.libraryHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}