.registration_form {
  padding: 40px 64px;
  width: 600px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  border-radius: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.btnWrapper {
  margin-top: 68px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.error {
  padding-left: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #e90516;
}

/*   */

.fieldWrapper {
  position: relative;
}

.floatingLabel {
  position: relative;
  display: block;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 16px 16px 80px;
  background-color: #262626;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  outline: none;
  /* transition: all 0.3s ease; */
}

.input:focus {
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.labelText {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #686868;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  pointer-events: none;
  transition: all 0.3s ease;
}

.eyeBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.error {
  position: absolute;
  /* left: 16px; */
  /* bottom: -20px; */
  color: #ff6b6b;
  font-size: 12px;
}
.eyeIcon {
  stroke: #f9f9f9;
}
