.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 15px;
  padding: 24px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 16px;
}
.navBar {
  display: flex;
  gap: 40px;
}

.link {
  position: relative;
  text-decoration: none;
  color: #f9f9f9;
  padding-bottom: 8px;
}
.link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #4f92f7;
  transition: width 0.3s ease;
  width: 100%;
}
.auth {
  display: flex;
  gap: 16px;
}
.user {
  display: flex;
  gap: 8px;
  align-items: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: #262626;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.btn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  /* padding: 12px 28px; */
  width: 114px;
  height: 42px;
  background-color: #262626;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  cursor: pointer;
}
