.diary {
  box-sizing: border-box;
  padding: 20px;
  background-color: #262626;
  border-radius: 12px;
  height: 373px;
  /* overflow: hidden; */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #30b94d #1a1a1a;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* width: 273px; */
  box-sizing: border-box;
}

/* .diary::-webkit-scrollbar {
  width: 8px;
}

.diary::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}

.diary::-webkit-scrollbar-thumb {
  background: #30b94d;
  border-radius: 4px;
}

.diary::-webkit-scrollbar-thumb:hover {
  background: #3be06a;
} */