.diary {
  box-sizing: border-box;
  padding: 20px;
  background-color: #262626;
  border-radius: 12px;
  height: 373px;
  overflow: hidden;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  /* width: 273px; */
  box-sizing: border-box;
}
